body {
    background-image: url(https://i.imgur.com/fiwOCbz.png);
    background-size: cover;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    display: inline;
    position: absolute;
    bottom: 10px;
}

#option1 {
    float: left;
}

#option2 {
    float: right;
}

button {
    width: 70px;
    margin: 20px 30px 0 30px;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    border: none;
}

button:hover {
    background-color: white;
    color: red;
}

header > div {
    color: white;
}

.cards {
    width: 600px;
    height: 200px;
}

#cash, #bet {
    color: white;
    border-color: white;
    background-color: red;
}

#win-popup{
    position: relative;
    top: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: red;
 }
 #win-popup .container {
    background-color: black;
    opacity: .8;
    padding: 30px;
    position: absolute;
    top: -700px;
    width: 100%;
    box-sizing: border-box;
 }
