body {
    background-image: url(https://i.imgur.com/fiwOCbz.png);
    background-size: cover;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
}

main {
    display: inline;
    position: absolute;
    bottom: 0;
}

#option1 {
    float: left;
}

#option2 {
    float: right;
}

button {
    width: 70px;
    margin: 20px 30px 0 30px;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    border: none;
}

button:hover {
    background-color: white;
    color: red;
}

input {
    width: 70px;
    margin: 30px 30px 0 30px;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    border: none;
}

input:hover {
    background-color: white;
    color: red;
}


header > div {
    color: white;
}

.cards {
    width: 600px;
    height: 200px;
}